<% if (success.length) { %>
    <% success.forEach(msg => { %>
    <p style="color: green"><%= msg %></p>
    <% }) %>
<% } %>

<% if (error.length) { %>
    <% error.forEach(msg => { %>
    <p style="color: red"><%= msg %></p>
    <% }) %>
<% } %>

<% if (info.length) { %>
    <% info.forEach(msg => { %>
    <p style="color: blue"><%= msg %></p>
    <% }) %>
<% } %>

<% if (warning.length) { %>
    <% warning.forEach(msg => { %>
    <p style="color: yellow"><%= msg %></p>
    <% }) %>
<% } %>

<% if (errors.length) { %>
    <% errors.forEach(error => { %>
    <p style="color: red"><%= error.msg %></p>
    <% }) %>
<% } %>