<h1>Users</h1>
<%- include('../../partials/messages') %>
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Active</th>
  </tr>

  <% users.forEach(u => { %>

  <tr>
    <td><a href="/admin/users/<%= u.id %>"><%= u.firstName %> <%= u.lastName %></a></td>
    <td><%= u.role %></td>
    <td><%= u.active ? 'Yes': 'No' %></td>
  </tr>

  <% }) %>
</table>
